@charset "UTF-8";

@font-face {
    font-family: 'gagalinregular';
    src: url('../fonts/gagalin-regular-webfont.eot');
    src: url('../fonts/gagalin-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gagalin-regular-webfont.woff2') format('woff2'),
         url('../fonts/gagalin-regular-webfont.woff') format('woff'),
         url('../fonts/gagalin-regular-webfont.ttf') format('truetype'),
         url('../fonts/gagalin-regular-webfont.svg#gagalinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}